<%= form_with(model: @contact, data: { turbo: false }) do |form| %>
  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :middle_name, class: 'form-label' %>
    <%= form.text_field :middle_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :phone, class: 'form-label' %>
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-success' %>
  <%= link_to 'Back', contacts_path, class: 'btn btn-outline-secondary' %>
<% end %>
