<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.middle_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td style='width: 25%;'><%= contact.address %></td>
        <td>
          <%= link_to 'Show', contact_path(contact), class: 'btn btn-info', data: { turbo: false } %>
          <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-warning', data: { turbo: false } %>
          <%= link_to 'Delete', contact_path(contact), method: :delete, data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>